// Windows Resource Script
// #include <windows.h>

// Application Icon
IDI_APP_ICON ICON "app.ico"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION     @{FILE_VERSION}
PRODUCTVERSION  @{PRODUCT_VERSION}
FILEFLAGSMASK   0x3f
FILEFLAGS       0x0
FILEOS          0x40004
FILETYPE        0x1
FILESUBTYPE     0x0

BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "@{COMPANY_NAME}\0"
            VALUE "FileDescription",  "@{PRODUCT_DESCRIPTION}\0"
            VALUE "FileVersion",      "@{EXE_VERSION}\0"
            VALUE "ProductName",      "@{PRODUCT_NAME}\0"
            VALUE "ProductVersion",   "@{EXE_VERSION}\0"
            VALUE "OriginalFilename", "@{EXE_NAME}\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END