[Desktop Entry]
Type=Application
Name=EmulationStation DE
Comment=Frontend for console emulated games
Icon=$HOME/ES-DE/icon.png
Exec=$APPLICATIONS/EmulationStation-DE.AppImage %u
Terminal=false
Categories=Game;