[Desktop Entry]
Type=Application
Name=NiceDeck
Comment=Steam Deck companion app for console emulation
Icon=com.mateussouzaweb.NiceDeck
TryExec=nicedeck
Exec=nicedeck %u
Terminal=false
Categories=Game
Actions=Browser;Headless

[Desktop Action Browser]
Name=Browse Mode
Exec=nicedeck --mode=browser

[Desktop Action Headless]
Name=Headless Mode
Exec=nicedeck --mode=headless