[Desktop Entry]
Type=Application
Name=NiceDeck
Comment=System customizations for a nice gaming experience
Icon=nicedeck
TryExec=nicedeck
Exec=nicedeck %u
Terminal=false
Categories=Game
SingleMainWindow=true
X-AppImage-Name=NiceDeck
X-AppImage-Version=0.0.19
X-AppImage-Arch=x86_64