[Desktop Entry]
Type=Application
Name=NiceDeck
Comment=Steam Deck companion app for console emulation
Icon=nicedeck
TryExec=nicedeck
Exec=nicedeck %u
Terminal=false
Categories=Game