[Desktop Entry]
Type=Application
Name=ES-DE
Comment=Frontend for console emulated games
Icon=$HOME/ES-DE/icon.png
Exec=$APPLICATIONS/ES-DE.AppImage %u
Terminal=false
Categories=Game;