#install .mass-actions {
    font-size: 85%;
}
#install .mass-actions .select-all,
#install .mass-actions .clear-all {
    cursor: pointer;
}
#install .mass-actions .separator {
    display: inline-block;
    opacity: 0.15;
    padding: 0 5px;
}

#install #programs {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;
}