.modal {
    align-items: center;
    bottom: 0;
    justify-content: center;
    left: 0;
    margin: 0.5em;
    outline: none;
    overflow: hidden;
    opacity: 0;
    position: fixed;
    right: 0;
    top: -100%;
    transition: opacity .15s linear, top .15s ease-out;
    z-index: 200;
}
.modal.hidden {
    display: none;
}
.modal.visible {
    display: flex;
}
.modal.in {
    opacity: 1;
    top: 0px;
}

.modal .backdrop {
    background-color: #000000;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: opacity 0.15s linear;
    z-index: calc(200 + 1);
}
.modal.hidden .backdrop {
    display: none;
}
.modal.visible .backdrop {
    display: block;
}
.modal.in .backdrop {
    opacity: 0.3;
}

.modal .container {
    align-items: center;
    border-radius: 0.25em;
    display: flex;
    flex: 1;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 700px;
    outline: none;
    overflow: hidden;
    position: relative;
    z-index: calc(200 + 2);
}
.modal .inside {
    background: #EAD4EF;
    border: 0;
    border-radius: 0.25em;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.20);
    display: flex;
    flex-flow: column;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
}
.modal .close {
    cursor: pointer;
}

.modal .header {
    align-items: center;
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 0.25em 0.25em 0 0;
    display: flex;
    height: auto;
    justify-content: space-between;
    padding: 1em;
    position: relative;
}
.modal .header h3 {
    margin: 0;
}
.modal .header h3 small {
    font-weight: normal;
    opacity: 0.5;
}
.modal .header .close {
    font-size: 1.5em;
    justify-self: flex-end;
    line-height: 1em;
    padding: 5px 10px;
    text-align: center;
    width: auto;
}

.modal .content {
    overflow-y: auto;
    overscroll-behavior-y: contain;
    padding: 1em;
    position: relative;
}
.modal .content h4 {
    font-weight: normal;
    margin: 0 0 10px 0;
}
.modal .content:last-child {
    margin-bottom: 0;
}

.modal .actions {
    border-top: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 0 0 0.25em 0.25em;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 1em;
    text-align: right;
}
.modal .actions button {
    margin-bottom: 0;
    width: auto;
}
.modal .actions button + button {
    margin-left: 10px;
}


.modal form input[type="text"], 
.modal form textarea {
    width: 100%;
}
.modal form .options {
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
    max-height: 260px;
    overflow: auto;
    padding: 10px;
}
.modal form .options p {
    flex-basis: 100%;
    margin: 0;
}
.modal form .options small {
    background: rgba(245, 220, 170, 0.30);
    border: 1px solid #cf9e20;
    border-radius: 5px;
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: left;
}
.modal form .options small:last-child {
    margin-bottom: 0;
}
.modal form .radio {
    flex: 1;
    margin: 0;
    max-width: 20%;
    min-width: 20%;
    width: 100%;
}

.modal .alert {
    background: rgba(245, 220, 170, 0.30);
    border: 1px solid #cf9e20;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;
}

.modal .image {
    border: 2px solid transparent;
    border-radius: 5px;
    display: block;
    height: 100%;
    min-width: 64px;
    opacity: 0.75;
    padding: 2px;
}
.modal .image:hover {
    opacity: 1;
}
.modal .image img {
    border-radius: 5px;
    display: block;
    height: auto;
    width: 100%;
}
.modal .image .no-image {
    align-items: center;
    background: #d9b6e1;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.modal input:checked + .image {
    background: #d9b6e1;
    border: 2px solid #000;
    opacity: 1;
}