#install .mass-actions {
    font-size: 85%;
}
#install .mass-actions .select-all,
#install .mass-actions .clear-all {
    cursor: pointer;
}
#install .mass-actions .separator {
    display: inline-block;
    opacity: 0.15;
    padding: 0 5px;
}

#programs #list .group {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -5px;
}
#programs #list .group + .group {
    margin-top: 20px;
}

#programs #list .group-info {
    display: flex;
    align-items: center;
    flex-basis: 100%;
    margin: 5px;
}
#programs #list .group-info h4 {
    margin: 0 20px 0 0;
    flex: 0;
    font-size: 1.25rem;
}
#programs #list .group-info p {
    margin: 0;
    flex: 1;
}

#programs #list label.checkbox,
#programs #list .fill {
    flex: 1;
    min-width: 260px;
    max-width: unset;
    padding: 5px;
}
#programs #list label.checkbox .icon {
    min-width: 72px;
}

#programs #list .installed .area::after {
    background: #000;
    border-radius: 50%;
    bottom: 5px;
    content: '';
    height: 10px;
    position: absolute;
    right: 5px;
    width: 10px;
}
#programs #list .remove-only-shortcut .area::after {
    background: #000;
    border-radius: 1px;
    content: '';
    height: 2px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 5px;
}