#shortcuts #actions {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 0 0 10px;
}
#shortcuts #actions button {
    background: #000;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 100%;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    vertical-align: middle;
}

#shortcuts #filters {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 10px;
}
#shortcuts #filters .search {
    flex: 1;
}
#shortcuts #filters .search input {
    width: 100%;
}

#shortcuts #filters .tags {
    flex: 1 0 auto;
    max-width: 200px;
    position: relative;
}
#shortcuts #filters .tags > label {
    align-items: center;
    background: #FFF;
    border: 1px solid #000;
    border-radius: 4px;
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: space-between;
    line-height: 1.2em;
    margin: 0;
    padding: 8px 15px;
    position: relative;
}
#shortcuts #filters .tags .dropdown {
    background: #FFF;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    display: none;
    flex-flow: column;
    left: 0;
    margin-top: -2px;
    max-height: 300px;
    min-width: 200px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 2;
}
#shortcuts #filters .tags:hover > .dropdown,
#shortcuts #filters .tags > .dropdown:hover {
    display: flex;
}
#shortcuts #filters .tags .dropdown label {
    margin: 0;
}
#shortcuts #filters .tags .dropdown label span {
    border-color: transparent;
    border-radius: 0;
}
#shortcuts #filters .tags .dropdown label span:hover {
    background: #EEE;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: none;
    z-index: 2;
}
#shortcuts #filters .tags .dropdown label span:hover::before{
    background: rgba(0, 0, 0, 0.15);
}
#shortcuts #filters .tags .dropdown label span::before {
    background: #EEE;
    border-radius: 0;
}

#shortcuts #filters .actions {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex: 1 0 auto;
    margin: 0;
    max-width: 160px;
}
#shortcuts #filters .actions button {
    line-height: 1.35rem;
    padding: 10px 15px;
    width: auto;
}
#shortcuts #filters .actions button#load {
    flex: 1;
}

#shortcuts #list {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    margin: 10px -5px;
}

#shortcuts #list .item,
#shortcuts #list .fill {
    flex: 1 1 20%;
    min-width: 180px;
}
#shortcuts #list .item {
    padding: 5px;
}
#shortcuts #list .area {
    align-items: stretch;
    background: #FFF;
    border: 2px solid #000;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow: hidden;
    position: relative;
}

#shortcuts #list .item.message {
    flex-basis: 100%;
    max-width: unset;
}
#shortcuts #list .item.message .area {
    border-width: 1px;
    padding: 10px;
    text-align: center;
}

#shortcuts #list .image {
    border-radius: 2px 2px 0 0;
    display: block;
    overflow: hidden;
}
#shortcuts #list .image img {
    display: block;
    height: auto;
    width: 100%;
}

#shortcuts #list .info {
    align-items: stretch;
    border-top: 1px solid #000;
    display: flex;
    flex: 1;
    flex-flow: column;
}
#shortcuts #list .info .title {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
#shortcuts #list .info .title h4 {
    margin: 0;
    padding: 0;
}
#shortcuts #list .info .actions {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #CCC;
    display: flex;
    justify-content: stretch;
    margin-top: 0;
    padding: 10px 9px;
}
#shortcuts #list .info .actions button {
    background: #000;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    flex: 1;
    font-size: 100%;
    font-weight: bold;
    margin: 1px;
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    width: auto;
}
#shortcuts #list .info .actions button img {
    display: inline-block;
    vertical-align: middle;
}

#shortcuts #modal-launch-shortcut .inside {
    position: relative;
}
#shortcuts #modal-launch-shortcut .close {
    background: rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 0;
    color: #000;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    padding: 5px 10px;
    position: absolute;
    text-align: center;
    top: 0;
    right: 0;
    vertical-align: middle;
    width: auto;
    z-index: 2;
}
#shortcuts #modal-launch-shortcut .content p {
    margin: 0;
    min-width: 400px;
    padding: 50px;
    text-align: center;
}
#shortcuts #modal-launch-shortcut .content b {
    display: block;
    font-size: 1.2em;
    padding: 5px;
}

#shortcuts .modal .group h4 {
    font-weight: normal;
    margin: 0 0 10px 0;
}
#shortcuts .modal input[type="text"], 
#shortcuts .modal textarea {
    width: 100%;
}
#shortcuts .modal .options {
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -2px;
    max-height: 260px;
    overflow: auto;
    padding: 10px;
}
#shortcuts .modal .options p {
    flex-basis: 100%;
    margin: 0;
}
#shortcuts .modal .options small {
    background: rgba(245, 220, 170, 0.30);
    border: 1px solid #cf9e20;
    border-radius: 5px;
    flex-basis: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    text-align: left;
}
#shortcuts .modal .options small:last-child {
    margin-bottom: 0;
}

#shortcuts .modal .radio {
    flex: 1;
    margin: 0;
    max-width: 20%;
    min-width: 20%;
    width: 100%;
}
#shortcuts .modal section.group-banner .radio,
#shortcuts .modal section.group-hero .radio {
    max-width: 33.33%;
    min-width: 33.33%;
}
#shortcuts .modal section.group-icon .radio {
    max-width: 10%;
    min-width: 10%;
}

#shortcuts .modal .alert {
    background: rgba(245, 220, 170, 0.30);
    border: 1px solid #cf9e20;
    border-radius: 5px;
    margin: 15px 0;
    padding: 15px;
}

#shortcuts .modal .image {
    border: 2px solid transparent;
    border-radius: 5px;
    display: block;
    height: 100%;
    min-width: 64px;
    opacity: 0.75;
    padding: 2px;
}
#shortcuts .modal .image:hover {
    opacity: 1;
}
#shortcuts .modal .image img {
    border-radius: 5px;
    display: block;
    height: auto;
    width: 100%;
}
#shortcuts .modal .image .no-image {
    align-items: center;
    background: #d9b6e1;
    border-radius: 5px;
    display: flex;
    height: 100%;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
#shortcuts .modal input:checked + .image {
    background: #d9b6e1;
    border: 2px solid #000;
    opacity: 1;
}