#shortcuts #list {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    margin: 10px -5px;
}

#shortcuts #list .item {
    flex: 0 0 25%;
    max-width: 20%;
    min-width: 150px;
    padding: 5px;
}
#shortcuts #list .area {
    background: #FFF;
    border: 2px solid #000;
    border-radius: 5px;
    height: 100%;
}

#shortcuts #list .item.message {
    flex-basis: 100%;
    max-width: unset;
}
#shortcuts #list .item.message .area {
    border-width: 1px;
    padding: 10px;
    text-align: center;
}

#shortcuts #list .image {
    display: block;
}
#shortcuts #list .image img {
    height: auto;
    width: 100%;
}

#shortcuts #list .info .title {
    padding: 10px;
}
#shortcuts #list .info .title h4 {
    margin: 0;
    padding: 0;
}
#shortcuts #list .info .actions {
    margin-top: 0;
    padding: 10px 9px;
}
#shortcuts #list .info .actions button {
    margin: 1px;
    padding: 5px 10px;
    width: auto;
}

#shortcuts #modal-update-shortcut .container {
    max-width: 860px;
}
#shortcuts .modal h4 {
    margin: 10px 0 5px;
}
#shortcuts .modal .group {
    max-height: 300px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}
#shortcuts .modal .radio {
    flex: 1;
    margin: 0;
    max-width: 20%;
    min-width: 20%;
    width: 100%;
}
#shortcuts .modal section.banner-area .radio,
#shortcuts .modal section.hero-area .radio {
    max-width: 33.33%;
    min-width: 33.33%;
}
#shortcuts .modal section.icon-area .radio {
    max-width: 10%;
    min-width: 10%;
}

#shortcuts .modal .image {
    border: 2px solid transparent;
    border-radius: 5px;
    display: block;
    min-width: 64px;
    opacity: 0.75;
    padding: 2px;
}
#shortcuts .modal .image:hover {
    opacity: 1;
}
#shortcuts .modal .image img {
    border-radius: 5px;
    display: block;
    height: auto;
    width: 100%;
}
#shortcuts .modal input:checked + .image {
    opacity: 1;
    border: 2px solid #000;
}