ul.tabs {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    margin: 0 -5px;
    padding: 0;
}
ul.tabs li {
    background: #000;
    border: 0;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-weight: bold;
    margin: 5px;
    padding: 15px 25px;
    text-align: center;
    vertical-align: middle;
}
ul.tabs span {
    white-space: nowrap;
}

section.tab {
    display: none;
    padding: 10px 0;
}
section.tab.active {
    display: block;
}