ul.tabs {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0 -5px;
    padding: 0;
}
ul.tabs li {
    background: #000;
    border: 1px solid #000;
    border-radius: 5px;
    color: #FFF;
    cursor: pointer;
    flex: 1 1 auto;
    font-weight: bold;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
}
ul.tabs li img {
    display: inline-block;
    vertical-align: middle;
}
ul.tabs li span {
    display: inline-block;
    padding: 5px;
    vertical-align: middle;
    white-space: nowrap;
}
ul.tabs li.active {
    background: #FFF;
    color: #000;
}
ul.tabs li.active img {
    filter: invert();
}

ul.tabs li[data-tab="welcome"],
ul.tabs li#shutdown {
    flex: 0;
    padding: 12px 15px;
    white-space: nowrap;
}
ul.tabs li[data-tab="welcome"] img,
ul.tabs li#help img,
ul.tabs li#shutdown img {
    display: inline-block;
    vertical-align: middle;
}

ul.tabs li#help {
    flex: 0;
    padding: 0;
    white-space: nowrap;
}
ul.tabs li#help a {
    display: block;
    padding: 12px 15px;
}

section.tab {
    display: none;
    padding: 10px 0;
}
section.tab.active {
    display: block;
}

@media (max-width: 930px) {
    ul.tabs li > span {
        display: none;
    }
}